/* Import statements. */
/* General styling. */
#OfficeUI .application-icons.icon img:hover:not(.disabled):not(:first-child),
#OfficeUI .icon:not(.disabled):not(.active):hover {
  background-color: #fce4dc;
}
#OfficeUI .icon:not(.disabled):active {
  background-color: #f5ba9d;
}
#OfficeUI input:hover,
#OfficeUI input:focus {
  border-color: #f5ba9d;
}
