/* Import statements. */
/* Ribbon styling. */
.ribbon > ul li .tab.active {
  color: #d24726;
}
.ribbon > ul li .tab.application {
  background-color: #d24726;
}
.ribbon > ul li .tab.application {
  border-color: #d24726;
}
#OfficeUI .icon.active {
  background-color: #f5ba9d;
}
#OfficeUI ul[role="ribbonTabs"] li:not(.application):hover,
#OfficeUI ul[role="ribbonTabs"] li.active {
  color: #d24726;
}
#OfficeUI ul[role="ribbonTabs"] li.application {
  background-color: #d24726;
  border-color: #d24726;
}
#OfficeUI ul[role="ribbonTabs"] li.application:hover {
  background-color: #f0623e;
  border-color: #f0623e;
}
