#OfficeUI ul[role="ribbonTabs"] li:not(.application):hover,
#OfficeUI ul[role="ribbonTabs"] li.active { color: #D24726; }
#OfficeUI ul[role="ribbonTabs"] li.application { background-color: #D24726; border-color: #D24726; }
#OfficeUI ul[role="ribbonTabs"] li.application:hover { background-color: #F0623E; border-color: #F0623E; }
