/* Import statements. */
/* General styling for the OfficeUI Ribbon.
 * Remarks: All the elements which are being styled are wrapped inside an #OfficeUI key selector.
 * This is because we don't want to affect elements which are on the page, which aren't being placed in our #OfficeUI container.
 */
#OfficeUI .ribbon .tab.active {
  color: #d24726;
}
#OfficeUI .ribbon .tab.application {
  background-color: #d24726;
}
#OfficeUI .ribbon .tab.application {
  border-color: #d24726;
}
#OfficeUI .ribbon li.tab:not(.application):hover,
#OfficeUI .ribbon li.tab.active {
  color: #d24726;
}
#OfficeUI .ribbon li.tab.application {
  background-color: #d24726;
  border-color: #d24726;
}
#OfficeUI .ribbon li.tab.application:hover {
  background-color: #f0623e;
  border-color: #f0623e;
}
