/* Import statements. */
/* General styling. */
#OfficeUI .application-icons.icon img:hover:not(.disabled):not(:first-child),
#OfficeUI .icon:not(.disabled):hover {
  background-color: #d3f0ec;
}
#OfficeUI .icon:not(.disabled):active {
  background-color: #7cbab2;
}
#OfficeUI input:hover,
#OfficeUI input:focus {
  border-color: #7cbab2;
}
