/* Import Statements. */
@import 'OfficeUI.Core.Turquoise.less';
@import 'OfficeUI.Ribbon.Turquoise.less';
@import 'OfficeUI.Ribbon.ApplicationMenu.Turquoise.less';
@import 'OfficeUI.Ribbon.Menu.Turquoise.less';

/* Section: Variables. */
@iconHoverColor: #d3f0ec; // The style for hovering on an icon.
@activeIconColor: #7cbab2; // The style for an active icon, as well the style for the border around an input element.
@navigationDefaultColor: #077568; // The style for the navigation control.
@navigationActiveElement: #3e948a; // The style for an active element in the navigation control.
@navigationElementHoverColor: #23645c; // The style for an hover element in the navigation control.