/* OfficeUI Application Menu Styling
 *
 * Version 1.0
 * Kevin De Coninck
 *
 * The purpose of this stylesheet is to provide a style theme for the OfficeUI application menu.
 */
/* Import statements. */
/* General styling for the OfficeUI Ribbon Application Menu.
 * Remarks: All the elements which are being styled are wrapped inside an #OfficeUI key selector.
 * This is because we don't want to affect elements which are on the page, which aren't being placed in our #OfficeUI container.
 */
#OfficeUI #navigation-application-menu {
  background-color: #077568;
}
#OfficeUI #navigation-application-menu li:not(.seperator).active {
  background-color: #3e948a;
}
#OfficeUI #navigation-application-menu li:not(.seperator):hover {
  background-color: #23645c;
}
#OfficeUI #navigation-application-menu li .seperator {
  background-color: #3e948a;
}
#OfficeUI #navigation-application-menu .back-arrow {
  background-image: url('/Resources/Images/Ribbon/ApplicationMenu/NavigationArrow-Turquoise.png');
}
#OfficeUI #navigation-application-menu .back-arrow:hover {
  background-image: url('/Resources/Images/Ribbon/ApplicationMenu/NavigationArrow-Turquoise_Hover.png');
}
