#OfficeUI ul[role="ribbonTabs"] li:not(.application):hover,
#OfficeUI ul[role="ribbonTabs"] li.active {
  color: #0072c6;
}
#OfficeUI ul[role="ribbonTabs"] li.application {
  background-color: #0072c6;
  border-color: #0072c6;
}
#OfficeUI ul[role="ribbonTabs"] li.application:hover {
  background-color: #2a8ad4;
  border-color: #2a8ad4;
}
