<!--    Office User Interface (OfficeUI) version 1.0

        This website aims to mimic the Office User Interface like it's defined in various Office applications
        such as Microsoft Word, Microsoft Powerpoint, Microsoft Outlook.

        The purpose of this application is to bring the rich User Interface as defined by Microsoft to the web.
        In order to make sure that this application does work correctly it has been tested on the following browsers:

        - Google Chrome
        - Mozilla Firefox
        - Internet Explorer

        If you've tested the application in another browser and confirms that everything is working, please report it on
        the official Github project page so that I can include it inside the list.
-->
<!DOCTYPE html>
<html lang="en" ng-app="OfficeUI">
<head>
    <title>OfficeUI (Beta)</title>

    <!-- External JavaScript files which are needed for the application to run. -->
    <script src="/OfficeUI.Beta/Resources/Scripts/External/Angular.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/External/jQuery-2.1.3.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/OfficeUI.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/OfficeUI.ThemeManager.min.js"></script>

    <!-- External Stylesheet files which are needed for the application to run. -->
    <link rel="stylesheet" href="/OfficeUI.Beta/Resources/Stylesheets/External/Font-Awesome/font-awesome.min.css" />

    <!-- Internal stylesheets and scripts, required for the application to run. -->
    <!--<link rel="stylesheet" href="/OfficeUI.Beta/Resources/Stylesheets/OfficeUI.Core2.min.css" />-->

    <link rel="stylesheet" href="/OfficeUI.Beta/Resources/Stylesheets/OfficeUI.min.css" />
    <link rel="stylesheet" href="/OfficeUI.Beta/Resources/Stylesheets/OfficeUI.Ribbon.ApplicationMenu.min.css" />

    <!--<link rel="stylesheet" href="/OfficeUI.Beta/Resources/Stylesheets/OfficeUI.Ribbon2.min.css" />-->
    <!--<link rel="stylesheet" href="/OfficeUI.Beta/Resources/Stylesheets/OfficeUI.Ribbon.ApplicationMenu2.min.css" />-->
    <script src="/OfficeUI.Beta/Resources/Scripts/External/Angular-animate.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/External/Angular-sanitize.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Modules/OfficeUI.Ribbon.Angular.Module.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Modules/OfficeUI.Angular.Module.min.js"></script>

    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Controllers/OfficeUI.Controller.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Controllers/OfficeUI.Ribbon.Controller.min.js"></script>

    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Angular.Directive.DynamicEventHandling.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Angular.Directive.Scrolling.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Angular.Directive.Collapsing.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Angular.Directive.StopPropagation.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Angular.Directive.Tooltip.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Angular.Directive.Hover.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Angular.Directive.ApplicationMenuContents.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Filters/OfficeUI.Angular.Filter.ActionLegend.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Filters/OfficeUI.Angular.Filter.ActionTooltip.js"></script>
</head>
<body class="noPadding noMargin" ng-controller="OfficeUI as OfficeUI">
    <div id="OfficeUI" ng-controller="OfficeUIRibbon as OfficeUIRibbon">

        <!-- /* ------------------------------------------------------ */
             /* ----------  Header element on the website.  ---------- */
             /* ------------------------------------------------------ */

            @Description:
            Defines the header element of the AngularJS application. The header element does contain the following data:
            - Title
            - Ribbon

            @Remarks:
            The header does contain an element that shows the title. But this title is only visible when the OfficeUI ribbon is not used.
            This is required because the ribbon itself is positioned on top of the page.
            So therefore the ribbon does include a title element itself, which has a higher z-index than the title on the header.

            The ribbon itself does also contains 2 title sections. This is because the title is displayed at a specific location when the ribbon is shown and
            the title is displayed on another location when the ribbon has some contextual tabs which are showed.
        -->
        <header>
            <div class="title">
                <div><img id="{{icon.Id}}" alt="{{icon.Alt}}" ng-class="{'icon': !$first}" ng-repeat="icon in OfficeUI.Icons" ng-src="{{icon.Icon}}" /></div>

                <span>{{OfficeUI.Title}}</span>
            </div>

            <!-- Defines the ribbon component itself. -->
            <div class="ribbon">
                <div class="title" ng-show="!isContextualGroupActive()">
                    <div><img id="{{icon.Id}}" alt="{{icon.Alt}}" ng-class="{'icon': !$first}" ng-repeat="icon in OfficeUI.Icons" ng-src="{{icon.Icon}}" /></div>

                    <span>{{OfficeUI.Title}}</span>
                </div>

                <ul>
                    <li>
                        <div>
                            <div class="title" ng-show="isContextualGroupActive()">
                                <div><img id="{{icon.Id}}" alt="{{icon.Alt}}" ng-class="{'icon': !$first}" ng-repeat="icon in OfficeUI.Icons" ng-src="{{icon.Icon}}" /></div>

                                <span>{{OfficeUI.Title}}</span>
                            </div>

                            <!-- Defines the normal tabs of the ribbon. -->
                            <ul>
                                <li class="tab tab-normal" ng-repeat="tab in OfficeUIRibbon.Tabs" ng-click="!$first && setActive(tab.Id);" ng-class="{application: $first, active: isActive(tab.Id)}">
                                    <span>{{tab.Label}}</span>
                                </li>
                            </ul>

                        </div>

                        <div class="contextual">
                            <ul>
                                <li class="context-group" ng-show="isActiveContextualGroup(contextual.Id)" ng-repeat="contextual in OfficeUIRibbon.ContextualGroups" ng-style="{'background-color': contextual.GroupColor}">
                                    <div class="accent" ng-style="{'background-color': contextual.AccentColor}">&nbsp;</div>
                                    <div class="label" ng-click="setActive(contextual.Tabs[0].Id, false);">
                                        <div ng-style="{'color': contextual.GroupTextColor}">
                                            <span>{{contextual.Label}}</span>
                                        </div>
                                    </div>
                                    <div class="tabs-holder">
                                        <ul>
                                            <li class="tab tab-contextual" id="tab.Id" ng-style="{color: setActiveTabColor(tab.Id, contextual.GroupTextColor)}" ng-repeat="tab in contextual.Tabs" ng-click="setActive(tab.Id)" ng-class="{active: isActive(tab.Id)}" stop-propagation="click">
                                                <span>{{tab.Label}}</span>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                            </ul>

                        </div>
                    </li>

                </ul>
            </div>
        </header>

        <div style="padding-top: 150px; padding-left: 5px; padding-right: 5px;">
            <h2>Functions</h2>
            <h3>Contextual Tabs</h3>
            <a href="#" ng-click="activateContextualGroup('contextualGroupDrawingTools')" style="padding-right: 40px;">Activate Drawing Tools</a>
            <a href="#" ng-click="activateContextualGroup('contextualGroupTableTools')" style="padding-right: 40px;">Activate Table Tools</a>
            <a href="#" ng-click="activateContextualGroup('contextualGroupSmartTools')" style="padding-right: 40px;">Activate Smart Tools</a>

            <br/>

            <a href="#" ng-click="deactivateContextualGroup('contextualGroupDrawingTools')" style="padding-right: 40px;">Deactivate Drawing Tools</a>
            <a href="#" ng-click="deactivateContextualGroup('contextualGroupTableTools')" style="padding-right: 40px;">Deactivate Table Tools</a>
            <a href="#" ng-click="deactivateContextualGroup('contextualGroupSmartTools')" style="padding-right: 40px;">Deactivate Smart Tools</a>
        </div>
    </div>

<!-- Provides some functions to configure the OfficeUI application. -->
<script type="text/javascript">
    // Sets the ThemeManager and initialize it.
    $.fn.OfficeUI.ThemeManager.SetTheme($.fn.OfficeUI.ThemeManager.Themes.Red);

    // Sets some default OfficeUI properties in order to initialize everything property.
    $.fn.OfficeUI.applicationDataFile = '/OfficeUI.Beta/Resources/data/application.json'; // Specify the file in which the application data is stored.
    $.fn.OfficeUI.ribbonDataFile = '/OfficeUI.Beta/Resources/Data/ribbon.json'; // Specify the file in which the ribbon data is stored.
</script>
</body>
</html>