<!DOCTYPE html>
<html lang="en" data-ng-app="OfficeUI">
<head>
    <title>OfficeUI (Beta)</title>

    <script src="/OfficeUI.Beta/Resources/Scripts/External/Angular.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/External/angular-animate.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/External/angular-sanitize.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/External/jQuery-2.1.3.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/External/JSPath.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/OfficeUI.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/OfficeUI.ThemeManager.min.js"></script>

    <link rel="stylesheet" href="/OfficeUI.Beta/Resources/Stylesheets/External/Font-Awesome/font-awesome.min.css" />
    <link rel="stylesheet" href="/OfficeUI.Beta/Resources/Stylesheets/OfficeUI.min.css" />

    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Modules/OfficeUI.Module.Ribbon.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Modules/OfficeUI.Module.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Controllers/OfficeUI.Controller.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Controllers/OfficeUI.Controller.Ribbon.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Directive.StopPropagation.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Directive.Tooltip.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Directive.DynamicEventHandling.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Directive.Scrolling.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Directive.Hover.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Directive.ApplicationMenuContents.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Filters/OfficeUI.Filter.ActionLegend.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI/OfficeUI.Directive.Application.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI/Ribbon/OfficeUI.Directive.Ribbon.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI/Ribbon/Components/OfficeUI.Directive.Ribbon.Tabs.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI/Ribbon/Components/OfficeUI.Directive.Ribbon.Contextual.Groups.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI/Ribbon/Components/OfficeUI.Directive.Ribbon.Contextual.Tabs.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI/Ribbon/Components/Actions/OfficeUI.Directive.Ribbon.Action.BigIcon.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI/Ribbon/Components/Actions/OfficeUI.Directive.Ribbon.Action.SmallIcon.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI/Ribbon/Components/Actions/OfficeUI.Directive.Ribbon.Action.Checkbox.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI/Ribbon/Components/Actions/OfficeUI.Directive.Ribbon.Action.Input.min.js"></script>
</head>
<body class="noPadding noMargin" data-ng-controller="OfficeUI as OfficeUI" data-ng-class="{'no-overflow': isApplicationMenuOpened()}">
    <div id="OfficeUI" data-ng-controller="OfficeUIRibbon as OfficeUIRibbon">
        <header>
            <div data-officeui-application-title></div> <!-- Renders the OfficeUI Application. -->
            <div data-officeui-ribbon></div> <!-- Renders the OfficeUI Ribbon. -->
        </header>
    </div>

    <!-- Renders the contents of the website. -->
    <div class="content" data-ng-class="{'animate-ribbon-hiding': isRibbonHidden() && !isRibbonInitialized(), 'no-animate-ribbon-hiding': isRibbonHidden() && isRibbonInitialized(), 'animate-ribbon-showing': isRibbonVisible() }">
        <h2>Functions</h2>
        <h3>Tabs</h3>
        <a href="#" data-ng-click="setActiveTab('tabHome')" style="padding-right: 40px;" data-stop-propagation="click">Activate Tab 'Home'</a>
        <a href="#" data-ng-click="setActiveTab('tabSendReceive')" style="padding-right: 40px;" data-stop-propagation="click">Activate Tab 'Send / Receive'</a>
        <a href="#" data-ng-click="setActiveTab('tabFolder')" style="padding-right: 40px;" data-stop-propagation="click">Activate Tab 'Folder'</a>
        <a href="#" data-ng-click="setActiveTab('tabView')" style="padding-right: 40px;" data-stop-propagation="click">Activate Tab 'View'</a>

        <br/><br/>

        <h3>Contextual Tabs</h3>
        <a href="#" data-ng-click="activateContextualGroup('contextualGroupDrawingTools')" style="padding-right: 40px;" data-stop-propagation="click">Activate Drawing Tools</a>
        <a href="#" data-ng-click="activateContextualGroup('contextualGroupTableTools')" style="padding-right: 40px;" data-stop-propagation="click">Activate Table Tools</a>
        <a href="#" data-ng-click="activateContextualGroup('contextualGroupSmartTools')" style="padding-right: 40px;" data-stop-propagation="click">Activate Smart Tools</a>

        <br/>

        <a href="#" data-ng-click="deactivateContextualGroup('contextualGroupDrawingTools')" style="padding-right: 40px;" data-stop-propagation="click">Deactivate Drawing Tools</a>
        <a href="#" data-ng-click="deactivateContextualGroup('contextualGroupTableTools')" style="padding-right: 40px;" data-stop-propagation="click">Deactivate Table Tools</a>
        <a href="#" data-ng-click="deactivateContextualGroup('contextualGroupSmartTools')" style="padding-right: 40px;" data-stop-propagation="click">Deactivate Smart Tools</a>

        <br/><br/>

        <h3>Actions</h3>
        <a href="#" data-ng-click="disableAction('icoNewEmail')" style="padding-right: 40px;" data-stop-propagation="click">Disable action 'New Email'</a>
        <a href="#" data-ng-click="enableAction('icoNewEmail')" style="padding-right: 40px;" data-stop-propagation="click">Enable action 'New Email'</a>
        <br/><br/>
    </div>

<!-- Provides some functions to configure the OfficeUI application. -->
<script type="text/javascript">
    // Provides a way to initialize the application with the correct theme.
    // Those calls are required for the application to function.
    $.fn.OfficeUI.ThemeManager.SetTheme($.fn.OfficeUI.ThemeManager.Themes.LightBlue);

    // Provides a way to load the application-, and ribbon- data file.
    // Those calls are required for the application to function.
    $.fn.OfficeUI.applicationDataFile = '/OfficeUI.Beta/Resources/data/application.json'; // Specify the file in which the application data is stored.
    $.fn.OfficeUI.ribbonDataFile = '/OfficeUI.Beta/Resources/Data/ribbon.json'; // Specify the file in which the ribbon data is stored.

    // Configuration of the application.
    // This call is not required for the application. The default is false.
    $.fn.OfficeUI.Defaults.changeActiveTabOnHover = false; // Tabs will not become active when you're hovering on the tab element. Change this to 'TRUE' to change this behaviour.
</script>
</body>
</html>