<!--    Office User Interface (OfficeUI) version 1.0

        This website aims to mimic the Office User Interface like it's defined in various Office applications
        such as Microsoft Word, Microsoft Powerpoint, Microsoft Outlook.

        The purpose of this application is to bring the rich User Interface as defined by Microsoft to the web.
        In order to make sure that this application does work correctly it has been tested on the following browsers:

        - Google Chrome
        - Mozilla Firefox
        - Internet Explorer

        If you've tested the application in another browser and confirms that everything is working, please report it on
        the official Github project page so that I can include it inside the list.
-->
<!DOCTYPE html>
<html lang="en" ng-app="OfficeUI">
<head>
    <title>OfficeUI (Beta)</title>

    <!-- External JavaScript files which are needed for the application to run. -->
    <script src="/OfficeUI.Beta/Resources/Scripts/External/Angular.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/External/jQuery-2.1.3.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/OfficeUI.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/OfficeUI.ThemeManager.min.js"></script>

    <!-- External Stylesheet files which are needed for the application to run. -->
    <link rel="stylesheet" href="/OfficeUI.Beta/Resources/Stylesheets/External/Font-Awesome/font-awesome.min.css" />

    <!-- Internal stylesheets and scripts, required for the application to run. -->
    <link rel="stylesheet" href="/OfficeUI.Beta/Resources/Stylesheets/OfficeUI.Core2.min.css" />
    <!--<link rel="stylesheet" href="/OfficeUI.Beta/Resources/Stylesheets/OfficeUI.Ribbon2.min.css" />-->
    <!--<link rel="stylesheet" href="/OfficeUI.Beta/Resources/Stylesheets/OfficeUI.Ribbon.ApplicationMenu2.min.css" />-->
    <script src="/OfficeUI.Beta/Resources/Scripts/External/Angular-animate.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/External/Angular-sanitize.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Modules/OfficeUI.Ribbon.Angular.Module.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Modules/OfficeUI.Angular.Module.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Controllers/OfficeUI.Angular.Controller.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Controllers/OfficeUI.Ribbon.Angular.Controller.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Angular.Directive.DynamicEventHandling.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Angular.Directive.Scrolling.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Angular.Directive.Collapsing.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Angular.Directive.StopPropagation.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Angular.Directive.Tooltip.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Angular.Directive.Hover.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Directives/OfficeUI.Angular.Directive.ApplicationMenuContents.min.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Filters/OfficeUI.Angular.Filter.ActionLegend.js"></script>
    <script src="/OfficeUI.Beta/Resources/Scripts/AngularJS/Filters/OfficeUI.Angular.Filter.ActionTooltip.js"></script>
</head>
<body class="no-padding no-margin" ng-controller="OfficeUI as OfficeUI">
    <div id="OfficeUI" ng-controller="OfficeUIRibbon as OfficeUIRibbon">

        <!-- Defines the header of the appplication. -->
        <header class="fixed noselect cursor-default">

            <!-- Defines the title of the application. This title it only visible when the ribbon isn't used.
                 However, a title must be visible also when using the ribbon. For that single purpose,
                 a title element is placed on the ribbon aswell. -->
            <div class="title container full-width center relative">{{OfficeUI.Title}}</div>

            <!-- Provides the area in which the ribbon will be rendered. -->
            <div class="ribbon relative container full-width">

                <!-- Provides the UL element in which the tabs will be rendered. -->
                <ul class="no-padding no-margin relative">
                    <li>

                        <!-- We have 2 containers inside this LI element.
                             In the first element, we do place all the normal tabs, in the second DIV element
                             all the contextual tabs are placed. This is by design. Contextual tabs
                             are always placed at the most right, after all the normal tabs. -->
                        <div class="container relative">

                            <!-- As explained above, a seperate Title needs to be placed here.
                                 This is because the whole ribbon sits over all the other elements. -->
                            <div class="title container full-width center absolute">{{OfficeUI.Title}}</div>

                            <!-- Defines the area for all the normal tabs. -->
                            <ul class="no-padding no-margin relative container">
                                <li class="tab tab-normal container center"
                                    ng-repeat="tab in OfficeUIRibbon.Tabs"
                                    ng-click="!$first && OfficeUIRibbon.setActiveTab(tab.Id, false);"
                                    ng-class="{application: $first,
                                               active: OfficeUIRibbon.isTabActive(tab.Id)}">
                                    {{tab.Label}}
                                </li>
                            </ul>

                        </div>

                        <!-- Container for all the contextual tabs. -->
                        <div class="container">

                            <!-- Defines the area for all the contextual tabs. -->
                            <ul class="no-padding no-margin">
                                <li class="tab tab-contextual container"
                                    ng-repeat="contextual in OfficeUIRibbon.ContextualGroups"
                                    ng-style="{'background-color': contextual.GroupColor}"
                                    style="height: 52px; border: none; margin-right: 4px !important;">

                                    <!-- Defines the top, darker, accent area of a contextual group. -->
                                    <div style="height: 4px;" ng-style="{'background-color': contextual.AccentColor}">&nbsp;</div>

                                    <div class="tab-title relative" style="height: 15px; top: 3px;" >

                                        <div style=""
                                             ng-style="{'color': contextual.GroupTextColor}">

                                            <span style="padding-left: 6px; padding-right: 6px;">{{contextual.Label}}</span>

                                        </div>
                                    </div>

                                    <div style="position: relative; top: 9px; width: 100%; display: table;">
                                            <ul style="display: table-row;">
                                                <li id="tab.Id" class="tab tab-contextual center" style="height: 23px; line-height: 23px; margin-right: 2px; display: table-cell;"
                                                    ng-repeat="tab in contextual.Tabs"
                                                    ng-click="OfficeUIRibbon.setActiveTab(tab.Id, false);"
                                                    ng-class="{active: OfficeUIRibbon.isTabActive(tab.Id)}">

                                                    <span style="padding-left: 15px; padding-right: 16px;">{{tab.Label}}</span>
                                                </li>
                                            </ul>
                                    </div>

                                </li>
                            </ul>

                        </div>
                    </li>

                </ul>

                <!--<div style="position: relative; height: 50px; z-index: 40; top:0px; background-color: rgb(250,250,250);">Demo</div>-->
            </div>
        </header>
    </div>

<!-- Provides some functions to configure the OfficeUI application. -->
<script type="text/javascript">
    // Sets the ThemeManager and initialize it.
    $.fn.OfficeUI.ThemeManager.SetTheme($.fn.OfficeUI.ThemeManager.Themes.Blue);

    // Sets some default OfficeUI properties in order to initialize everything property.
    $.fn.OfficeUI.applicationDataFile = '/OfficeUI.Beta/Resources/data/application.json'; // Specify the file in which the application data is stored.
    $.fn.OfficeUI.ribbonDataFile = '/OfficeUI.Beta/Resources/Data/ribbon.json'; // Specify the file in which the ribbon data is stored.
</script>
</body>
</html>