#OfficeUI ul[role="ribbonTabs"] li:not(.application):hover,
#OfficeUI ul[role="ribbonTabs"] li.active {
  color: #2B579A;
}
#OfficeUI ul[role="ribbonTabs"] li.application {
  background-color: #2B579A;
  border-color: #2B579A;
}
#OfficeUI ul[role="ribbonTabs"] li.application:hover {
  background-color: #3E6DB5;
  border-color: #3E6DB5;
}
