/* Import statements. */
/* General styling. */
#OfficeUI .application-icons.icon img:hover:not(.disabled):not(:first-child),
#OfficeUI .icon:not(.disabled):not(.active):not(.no-hover):hover {
  background-color: #d5e1ff;
}
#OfficeUI .icon:not(.disabled):not(.active):active {
  background-color: #a3bde3;
}
#OfficeUI input:not(.no-hover):hover,
#OfficeUI input:focus {
  border-color: #a3bde3;
}
