/* Elements that define spaces between elements. */
.officeui-space-no-margin { margin: 0px; }
.officeui-space-no-padding { padding: 0px; }

/* Elements that define positioning. */
#OfficeUI .officeui-position-relative { position: relative; } /* Position an element relative to it's normal position. Element is NOT removed from the normal flow. */
#OfficeUI .officeui-position-absolute { position: absolute; } /* Position an element relative to the first parent element that has another display that 'static'. In case such an element does not exists, the <html> element will be used. */
#OfficeUI .officeui-position-fixed { position: fixed; } /* Element is moved out of the normal place and positioned relatively to the window. */

/* Elements that define the alignment. */
#OfficeUI .officeui-align-center { text-align: center; }

/* Elements that define the floating. */
#OfficeUI .officeui-float-right { float: right; }
#OfficeUI .officeui-float-left { float: left; }

/* Elements that define the display. */
#OfficeUI .officeui-display-inline-block { display: inline-block; }
#OfficeUI .officeui-display-hidden { display: none; }

/* Elements that defines borders. */
#OfficeUI .officeui-borders-border-bottom-grey { border-bottom: 1px solid #d4d4d4 !important; }
#OfficeUI .officeui-borders-border-top-grey { border-top: 1px solid #d4d4d4 !important; }
#OfficeUI .officeui-borders-border-left-grey { border-left: 1px solid #d4d4d4 !important; }
#OfficeUI .officeui-borders-border-right-grey { border-right: 1px solid #d4d4d4 !important; }

/* General OfficeUI elements. */
/*#OfficeUI .container-full-width { width: 100%; }

/* Styling for the application. */
#OfficeUI { color: #444; font-size: 0.75em; background-color: #fff; font-family: 'Segoe UI'; overflow: hidden; background: url('../Images/Application/Backgrounds/Circuit.png') no-repeat top right; }

    /* Defining the top left of the application. The application icons.
     * The area at the top as 2 different types of icons which can be showed: 
     *  - appliction-icon:      The icon of the application, on which no effects are visible. The first icon in the application.json file will always
     *                          be the application icon.
     *  - action-icon:          A collection of icons that defines quick-access actions. Special effects are visible when hovering or clicking on those items.
     */
    #OfficeUI .application-icons { top: 3px; left: 7px; height: 22px; }
    
    #OfficeUI .application-icons .icon-container, 
    #OfficeUI .application-icons .icon-container .application-icon, 
    #OfficeUI .application-icons .icon-container .action-icon { width: 29px; height: 22px; }

    #OfficeUI .application-icons .icon-container:not(:first-child) { margin-right: 1px; }

    /* Definition for the header. */
    #OfficeUI > .header { height: 22px; }
    #OfficeUI > .header .title { margin: 6px 3px 0px 0px; }




















/* OfficeUI Styling version 1.0
   Kevin De Coninck

   Defines the version of the OfficeUI styling.
   This section describes the various choices and descisions which are being made.

   There are only 2 elements that has no parent named 'no-margin' and 'no-padding'.
   This is needed because they are placed on the <body> tag of the website.

   As from then, everything related to the OfficeUI is wrapped inside a element with id 'OfficeUI'.
   This is done to have no conflicts with other css classes which are specified in any other components that you might use.

   This means that in the CSS file, you will always see the following for every element. #OfficeUI ...
*/

/* General styling that can be applied to all the elements. */
.no-margin { margin: 0px; }
.no-padding { padding: 0px; }

/* General styling for the root of the website. */
#OfficeUI { min-height: 52px; background: url('../Images/Application/Backgrounds/Circuit.png') no-repeat scroll right top rgba(0, 0, 0, 0); color: #444; font-family: 'Segoe UI'; font-size: 0.75em; overflow: hidden; }

/* General styling that can be applied to all kind of elements inside the OfficeUI container. */
#OfficeUI .center { text-align: center; }
#OfficeUI .absolute { position: absolute; }
#OfficeUI .left { float: left; }
#OfficeUI .right { float: right; }

/* Container elements. */
#OfficeUI .container { display: inline-block; }
#OfficeUI .container-full-width { width: 100%; }

#OfficeUI .title { margin-top: 6px; }

/* Styling for the OfficeUI elements itself. */
#OfficeUI .application-title { margin: 6px 3px 0px 0px; }
#OfficeUI .application-icons { margin: 3px 0px 0px 5px; }
#OfficeUI .application-icons img { margin: 0px 5px 0px 2px; }
#OfficeUI .application-icons img:not(:first-child) { margin-right: 6px; }
#OfficeUI .application-icons.icon img:hover:not(:first-child) { background-color: #cde6f7; }

/* Defines general styling for icons. */
#OfficeUI .icon:hover { background-colod: #cde6f7; }

/* Provide some responsive styling. 
   The following styling is applied to the screen when the width of the window is less than 497px. */
@media screen and (max-width: 497px) {
    
    /* Hide the background image when the size of the screen is smaller than the size of the background-image. */
    #OfficeUI { background-image: none; }
}