/* OfficeUI Styling version 1.0
   Kevin De Coninck

   Defines the version of the OfficeUI styling.
   This section describes the various choices and descisions which are being made.

   There are only 2 elements that has no parent named 'no-margin' and 'no-padding'.
   This is needed because they are placed on the <body> tag of the website.

   As from then, everything related to the OfficeUI is wrapped inside a element with id 'OfficeUI'.
   This is done to have no conflicts with other css classes which are specified in any other components that you might use.

   This means that in the CSS file, you will always see the following for every element. #OfficeUI ...
*/

/* General styling that can be applied to all the elements. */
.no-margin { margin: 0px; }
.no-padding { padding: 0px; }

/* General styling for the root of the website. */
#OfficeUI { min-height: 52px; color: #444; font-family: 'Segoe UI'; font-size: 0.75em; overflow: hidden; }
#OfficeUI header { background: url('../Images/Application/Backgrounds/Circuit.png') no-repeat scroll right top rgba(255, 255, 255, 1); position: fixed; width: 100%; }

/* General styling that can be applied to all kind of elements inside the OfficeUI container. */
#OfficeUI .center { text-align: center !important; }
#OfficeUI .absolute { position: absolute !important; }
#OfficeUI .left { float: left !important; }
#OfficeUI .right { float: right !important; }
#OfficeUI .hidden { display: none; }

/* Container elements. */
#OfficeUI .container { display: inline-block; }
#OfficeUI .container-block { display: block; }
#OfficeUI .container-full-width { width: 100%; }

#OfficeUI .title { margin-top: 6px; }

/* Styling for the OfficeUI elements itself. */
#OfficeUI .application-title { margin: 6px 3px 0px 0px; }
#OfficeUI .application-icons { margin: 3px 0px 0px 5px; }
#OfficeUI .application-icons img { margin: 0px 5px 0px 2px; }
#OfficeUI .application-icons img:not(:first-child) { margin-right: 6px; }
#OfficeUI .application-icons.icon img:hover:not(:first-child) { background-color: #cde6f7; }

/* Defines general styling for icons. */
#OfficeUI .icon:hover { background-color: #cde6f7; }
#OfficeUI .icon:active, #OfficeUI .icon::selection { background-color: #92c0e0; }

/* Defines the styling for the contents of the website, the contents which can be found beneath the ribbon. */
#OfficeUI .contents { margin-top: 146px; }

#OfficeUI input { border: 1px solid #ababab; font-family: 'Segoe UI'; color: black; font-size: 1em; padding-left: 3px; padding-right: 3px; }
#OfficeUI input:hover, #OfficeUI input:focus { border: 1px solid #92c0e0; }

#OfficeUI .menu { display: none; left: 0px; top: 69px; z-index: 100; background-color: white; box-shadow: 0 0 0 #888888; min-width: 80px; background-color: white; background-image: linear-gradient(#c6c6c6, #c6c6c6), linear-gradient(#c6c6c6, #c6c6c6); background-repeat: no-repeat; background-position: 0 0px, 100% 0; background-size: 1px 100%; border-bottom: 1px solid #c6c6c6; border-top: 1px solid #c6c6c6; box-shadow: 3px 3px 3px #e0e0e0; min-width: 80px; padding: 1px 2px; }
#OfficeUI .menu-small { top: 23px; }
#OfficeUI .menu ul { list-style: none; }
#OfficeUI .menu ul li { padding-right: 32px; white-space: nowrap; height: 24px; }
#OfficeUI .menu ul li:hover { background-color: #cde6f7; }
#OfficeUI .menu ul li .image { width: 24px; padding-left: 4px; padding-top: 5px; }
#OfficeUI .menu ul li .image img { padding-left: 0px !important; padding-right: 0px !important; }
#OfficeUI .menu ul li .text { vertical-align: top; padding-top: 3px; }

/* Provide some responsive styling. 
   The following styling is applied to the screen when the width of the window is less than 497px. */
@media screen and (max-width: 497px) {
    
    /* Hide the background image when the size of the screen is smaller than the size of the background-image. */
    #OfficeUI { background-image: none; }
}