/* OfficeUI Styling version 1.0
   Kevin De Coninck

   Defines the version of the OfficeUI styling.
   This section describes the various choices and descisions which are being made.

   There are only 2 elements that has no parent named 'no-margin' and 'no-padding'.
   This is needed because they are placed on the <body> tag of the website.

   As from then, everything related to the OfficeUI is wrapped inside a element with id 'OfficeUI'.
   This is done to have no conflicts with other css classes which are specified in any other components that you might use.

   This means that in the CSS file, you will always see the following for every element. #OfficeUI ...
*/

/* General styling that can be applied to all the elements. */
body, html { height: 100%; width: 100%; }
.no-margin { margin: 0px; }
.no-padding { padding: 0px; }

/* General styling for any OfficeUI application. */
#OfficeUI { color: #444; font-family: 'Segoe UI'; font-size: 0.75em; overflow: hidden; width: 100%; }
#OfficeUI a { color: #444; cursor: default; }
#OfficeUI p { padding: 5px 0px; margin: 0px; line-height: 15px; }
#OfficeUI strong { color: #5d5d5d; }

/* General styling that can be applied to all kind of elements inside the OfficeUI container. */
#OfficeUI .center { text-align: center !important; }
#OfficeUI .absolute { position: absolute !important; }
#OfficeUI .left { float: left !important; }
#OfficeUI .right { float: right !important; }
#OfficeUI .hidden { display: none !important; }
#OfficeUI .no-border { border: 1px solid transparent !important; }
#OfficeUI .no-border-left { border-left: 1px solid transparent !important; }
#OfficeUI .no-border-right { border-right: 1px solid transparent !important; }
#OfficeUI .no-border-top { border-top: 1px solid transparent !important; }
#OfficeUI .no-border-bottom { border-bottom: 1px solid transparent !important; }

/* Container elements. */
#OfficeUI .container { display: inline-block; }
#OfficeUI .container-block { display: block; }
#OfficeUI .container-full-width { width: 100%; }
#OfficeUI .container-input { height: 24px; }

/* OfficeUI elements. */
#OfficeUI > .header { background: url('../Images/Application/Backgrounds/Circuit.png') no-repeat scroll right top rgba(255, 255, 255, 1); height: 52px; position: relative; z-index: 2; }
#OfficeUI > .header .title { margin-top: 6px; margin-left: -1px; }
#OfficeUI ribbon { position: absolute; top: 23px; width: 100%; }

   /* Styling for the application icons on top of the page. */
   #OfficeUI .application-title { margin: 6px 3px 0px 0px; }
   #OfficeUI .application-icons { margin: 3px 0px 0px 5px; }
   #OfficeUI .application-icons img { margin: 0px 5px 0px 2px; }
   #OfficeUI .application-icons img:not(:first-child) { margin-right: 6px; }
   #OfficeUI .application-icons.icon img:hover:not(:first-child) { background-color: #cde6f7; }

   /* Defines general styling for icons. */
   #OfficeUI .icon:hover { background-color: #cde6f7; }
   #OfficeUI .icon:active { background-color: #92c0e0; }

   /* Defines the styling for the contents of the website, the contents which can be found beneath the ribbon. */
   #OfficeUI .contents { margin-top: 94px; }

#OfficeUI input { border: 1px solid #ababab; font-family: 'Segoe UI'; color: black; font-size: 1em; padding-left: 3px; padding-right: 3px; }
#OfficeUI input:-ms-input-placeholder { color: #6d6d6d; }
#OfficeUI input:hover, #OfficeUI input:focus { border: 1px solid #92c0e0; outline: none; }

/* Provide some responsive styling. 
   The following styling is applied to the screen when the width of the window is less than 497px. */
@media screen and (max-width: 497px) {

    #OfficeUI > .header { background-image: none; } /* Hide the background image when the size of the screen is smaller than the size of the background-image. */
}

/* Area: Animations to show and hide elements. */

   /* Animation to show and hide the contents of the ribbon. */
   .contents.ng-hide-add.ng-hide-add-active,
   .contents.ng-hide-remove.ng-hide-remove-active { transition: all linear 0.2s; }
   .contents { top: 145px; display: block !important; position: relative; }
   .contents.ng-hide { top: 53px; display: block !important; position: relative; }

/* End Of Area: Animations to show and hide elements. */