/* OfficeUI Core stylesheet v 1.0

   All elements in the OfficeUI library are wrapped inside an OfficeUI element.
   There are only 2 elements which are not wrapped inside the OfficeUI element and that's because those elements are used on the body tag.
*/
body,
html {
  width: 100%;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
/* Section: Variables. */
#OfficeUI {
  /* General styling for all the elements inside the OfficeUI element. */
  color: #444444;
  font-family: 'Segoe UI', serif;
  font-size: 0.75em;
  /* General styling elements. */
  /* General elements that should look the same on the whole website. */
  /* Positional elements. */
  /* Alignment elements. */
  /* Container elements. */
  /* Styling of the header. */
  /* Stacking information, regarding the Z-Index is placed below:
   *  - The title itself (without a ribbon) has a z-index of 60, meaning that the title will always be on top.
   *  - The UL element holding the tabs has a z-index of 70.
  */
}
#OfficeUI .noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#OfficeUI .cursor-default {
  cursor: default;
}
#OfficeUI a {
  color: #444444;
  cursor: default;
}
#OfficeUI p {
  padding: 0;
  margin: 0;
  line-height: 15px;
}
#OfficeUI strong {
  color: #5d5d5d;
}
#OfficeUI .absolute {
  position: absolute;
}
#OfficeUI .relative {
  position: relative;
}
#OfficeUI .fixed {
  position: fixed;
}
#OfficeUI .center {
  text-align: center;
}
#OfficeUI .container {
  display: inline-block;
  vertical-align: top;
}
#OfficeUI .container.full-width {
  width: 100%;
}
#OfficeUI header {
  width: 100%;
  min-height: 52px;
  /* Styling of the title. */
  /* Ribbon styling. */
}
#OfficeUI header .title {
  margin-left: -1px;
  margin-top: 6px;
  z-index: 60;
}
#OfficeUI header .ribbon {
  top: -23px;
  /* Defines the tabs area. */
  /* Defines the style for a single tab element. */
  /* Styling of the different tab elements that a ribbon can have. */
  /* There are 2 different tab elements, a normal tab and a contextual tab. A contextual tab is recognized by it's special color and contextual title. */
  /* A common example for a contextual tab is the tab that shows up in Office Applications when you're creating a table on the page. */
  /* When you need to implement any custom tabs, put them inside this section. */
}
#OfficeUI header .ribbon .title {
  z-index: 80;
}
#OfficeUI header .ribbon > ul {
  background: url("/OfficeUI.Beta/Resources/Images/Application/Backgrounds/Circuit.png") no-repeat scroll right top white;
  height: 52px;
  z-index: 70;
  border-bottom: 1px solid #d4d4d4;
}
#OfficeUI header .ribbon > ul li.tab {
  text-transform: uppercase;
  margin-right: 2px;
  border: 1px solid transparent;
}
#OfficeUI header .ribbon > ul li.tab.active {
  background-color: #fff;
}
#OfficeUI header .ribbon > ul li.tab.tab-normal {
  margin-top: 28px;
  line-height: 23px;
  padding-left: 12px;
  padding-right: 13px;
  border: 1px solid transparent;
}
#OfficeUI header .ribbon > ul li.tab.tab-normal.application {
  color: #fff;
  padding-left: 2px;
  padding-right: 3px;
  min-width: 52px;
  margin-right: 4px;
}
#OfficeUI header .ribbon > ul li.tab.tab-normal:not(.application).active {
  border-color: #d4d4d4 #d4d4d4 #fff;
  border-style: solid;
  border-width: 1px;
}
#OfficeUI header .ribbon > ul li.tab:last-child {
  margin-right: 1px;
}
#OfficeUI header .ribbon > ul li.tab.contextual-group {
  height: 52px;
  margin-right: 4px;
  border: none;
}
#OfficeUI header .ribbon > ul li.tab.contextual-group .accent {
  height: 4px;
}
#OfficeUI header .ribbon > ul li.tab.contextual-group .group-title {
  font-size: 0.90em;
  text-align: center;
  width: 100%;
  height: 15px;
  top: 3px;
}
#OfficeUI header .ribbon > ul li.tab.contextual-group .group-title span {
  padding-left: 6px;
  padding-right: 6px;
}
#OfficeUI header .ribbon > ul li.tab.contextual-group .tabs {
  top: 9px;
  width: 100%;
  display: table;
}
#OfficeUI header .ribbon > ul li.tab.contextual-group .tabs ul {
  display: table-row;
}
#OfficeUI header .ribbon > ul li.tab.contextual-group .tabs ul .tab-contextual {
  height: 23px;
  line-height: 23px;
  margin-right: 2px;
  display: table-cell;
}
#OfficeUI header .ribbon > ul li.tab.contextual-group .tabs ul .tab-contextual span {
  padding-left: 15px;
  padding-right: 16px;
}
#OfficeUI header .ribbon ul li.tab-contextual.active {
  border-color: #d4d4d4 #d4d4d4 #fff;
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  color: #2b579a;
}
