/* General OfficeUI styling.
 *
 * Version 1.0
 * Kevin De Coninck
 */
/* -----------------------------------------------------------------------------------------------*/
/* ---------->>> Helpful css classes that can be applied without a border element. <<<-----------*/
/* -----------------------------------------------------------------------------------------------*/
.noPadding {
  padding: 0;
}
.noMargin {
  margin: 0;
}
#OfficeUI {
  /* --------------------------------------------------*/
  /* ---------->>> Helpful css classes. <<<-----------*/
  /* --------------------------------------------------*/
  /* ----------------------------------------------------------*/
  /* ---------->>> Styling for general elements. <<<-----------*/
  /* ----------------------------------------------------------*/
  /* ---------------------------------------------*/
  /* ---------->>> General styling. <<<-----------*/
  /* ---------------------------------------------*/
  color: #444444;
  font-family: 'Segoe UI', serif;
  font-size: 0.75em;
  /* --------------------------------------------*/
  /* ---------->>> Header styling. <<<-----------*/
  /* --------------------------------------------*/
  /*
   * @remarks
   *
   * Below we explain the z-index which are used in the header.
   * - The title in the header, thus, not on the ribbon, does have a z-index value set to 70.
   *   (This does mean that the ribbon element itself should have a higher z-index to make sure it's on top of the normal title).
   * - The title in the ribbon itself, does have a z-index value set to 80.
   * - The tabs of the ribbon does have a z-index value set to 70.
   * ToDo: Update the information about the z-index here since it's not correct.
   */
}
#OfficeUI .alignCenter {
  text-align: center;
}
#OfficeUI .alignLeft {
  text-align: left;
}
#OfficeUI .alignRight {
  text-align: right;
}
#OfficeUI .cursorDefault {
  cursor: default;
}
#OfficeUI .displayInline {
  display: inline;
}
#OfficeUI .displayInlineBlock {
  display: inline-block;
}
#OfficeUI .displayBlock {
  display: block;
}
#OfficeUI .positionAbsolute {
  position: absolute;
}
#OfficeUI .positionFixed {
  position: fixed;
}
#OfficeUI .positionRelative {
  position: relative;
}
#OfficeUI .floatLeft {
  float: left;
}
#OfficeUI .floatRight {
  float: right;
}
#OfficeUI .noSelect {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
#OfficeUI .width100 {
  width: 100%;
}
#OfficeUI .width75 {
  width: 75%;
}
#OfficeUI .width50 {
  width: 50%;
}
#OfficeUI .borderTransparent {
  border: 1px solid transparent;
}
#OfficeUI * {
  padding: 0;
  margin: 0;
}
#OfficeUI header {
  cursor: default;
  position: fixed;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  background: white;
  height: 52px;
  /* Defines the styling of the title area. */
  /* Defines the styling of the ribbon. */
}
@media (min-width: 497px) {
  #OfficeUI header {
    background: url("/OfficeUI.Beta/Resources/Images/Application/Backgrounds/Circuit.png") no-repeat scroll right top white;
  }
}
#OfficeUI header .title {
  display: inline-block;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 70;
}
#OfficeUI header .title > div {
  position: absolute;
  margin: 3px 0 0 5px;
}
#OfficeUI header .title > div img {
  margin: 0 5px 0 2px;
}
#OfficeUI header .title > div img:not(:first-child) {
  margin-right: 6px;
}
#OfficeUI header .title span {
  display: block;
  margin-top: 6px;
  margin-right: 2px;
}
#OfficeUI header ul li .title {
  text-align: left;
}
#OfficeUI header .ribbon {
  position: relative;
  background: white;
}
#OfficeUI header .ribbon .title {
  z-index: 80;
}
#OfficeUI header .ribbon ul {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  z-index: 70;
}
#OfficeUI header .ribbon > ul {
  background-color: white;
  border-bottom: 1px solid #d4d4d4;
  height: 52px;
}
@media screen and (min-width: 497px) {
  #OfficeUI header .ribbon > ul {
    background: url("/OfficeUI.Beta/Resources/Images/Application/Backgrounds/Circuit.png") no-repeat scroll right top white;
  }
}
#OfficeUI header .ribbon ul li {
  display: inline-block;
}
#OfficeUI header .ribbon ul li div {
  display: inline-block;
  vertical-align: top;
}
#OfficeUI header .ribbon ul li.tab {
  text-align: center;
  text-transform: uppercase;
}
#OfficeUI header .ribbon ul li.tab.application {
  color: #fff;
  margin-right: 4px;
  min-width: 52px;
  padding: 0 3px 0 2px;
}
#OfficeUI header .ribbon ul li.tab-normal {
  border: 1px solid transparent;
  display: inline-block;
  position: relative;
  line-height: 23px;
  padding: 0 13px 0 12px;
  margin: 28px 2px 0 0;
}
#OfficeUI header .ribbon ul li .tab-contextual {
  border: 1px solid transparent;
}
#OfficeUI header .ribbon ul li.tab:not(.application).active {
  border-color: #d4d4d4 #d4d4d4 #fff;
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
}
