/* OfficeUI Core stylesheet v 1.0

   All elements in the OfficeUI library are wrapped inside an OfficeUI element.
   There are only 2 elements which are not wrapped inside the OfficeUI element and that's because those elements are used on the body tag.
*/
body, html { width: 100%; }
.no-margin { margin: 0; }
.no-padding { padding: 0; }

/* Section: Variables. */
@defaultTextColor: #444; // The default text color.
@emphasizedTextColor: #5d5d5d; // The default emphasis color.
@grayBorderColor: #d4d4d4; // The gray color for a border element.

#OfficeUI {
  /* General styling for all the elements inside the OfficeUI element. */
  color: @defaultTextColor; font-family: 'Segoe UI', serif; font-size: 0.75em;

  /* General styling elements. */
  .noselect { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
  .cursor-default { cursor: default; }

  /* General elements that should look the same on the whole website. */
  a { color: @defaultTextColor; cursor: default; }
  p { padding: 0; margin: 0; line-height: 15px; }
  strong { color: @emphasizedTextColor; }

  /* Positional elements. */
  .absolute { position: absolute; }
  .relative { position: relative; }
  .fixed { position: fixed; }

  /* Alignment elements. */
  .center { text-align: center; }

  /* Container elements. */
  .container {
    display: inline-block; vertical-align: top;
    &.full-width { width: 100%; }
  }

  /* Styling of the header. */
  /* Stacking information, regarding the Z-Index is placed below:
   *  - The title itself (without a ribbon) has a z-index of 60, meaning that the title will always be on top.
   *  - The UL element holding the tabs has a z-index of 70.
  */
  header {
    width: 100%; min-height: 52px;

    /* Styling of the title. */
    .title { margin-left: -1px; margin-top: 6px; z-index: 60; }

    /* Ribbon styling. */
    .ribbon {
      top: -23px;

      /* Defines the tabs area. */

      // Selects all the ul elements that has an element with class '.ribbon' as their parent.
      > ul {
        background: url("/OfficeUI.Beta/Resources/Images/Application/Backgrounds/Circuit.png") no-repeat scroll right top white; height: 52px; z-index: 70; border-bottom: 1px solid @grayBorderColor;

        // Defines the settings for a tab element.
        li.tab {
          text-transform: uppercase; margin-right: 2px; border: 1px solid transparent;

          &.active { background-color: #fff; }
          &.tab-normal { // Defines the styling for a normal tab.
            margin-top: 28px; line-height: 23px; padding-left: 12px; padding-right: 13px; border: 1px solid transparent;

            &.application { color: #fff; padding-left: 2px; padding-right: 3px; min-width: 52px; margin-right: 4px; }
            &:not(.application).active { border-color: #d4d4d4 #d4d4d4 #fff; border-style: solid; border-width: 1px; }
          }

          &:last-child { margin-right: 1px; } // When it's the last child, only add 1px to the margin right. This is required for the correct placements of the contextual tabs.

          &.contextual-group { // Defines the styling for a contextual group.
            height: 52px;  margin-right: 4px; border: none;

            .accent { height: 4px; } // Defines the accent color. (The color on top, which is 4px height).

            .group-title { font-size: 0.90em; text-align: center; width: 100%; height: 15px; top: 3px;
              span { padding-left: 6px; padding-right: 6px; }
            }

            .tabs {
              top: 9px; width: 100%; display: table;

              ul {
                display: table-row;

                .tab-contextual {
                  height: 23px; line-height: 23px; margin-right: 2px; display: table-cell;

                  span { padding-left: 15px; padding-right: 16px; }
                }
              }
            }
          }
        }
      }

      /* Defines the style for a single tab element. */
      > ul li.tab {

        &.contextual-group {

        }
      }

        /* Styling of the different tab elements that a ribbon can have. */
        /* There are 2 different tab elements, a normal tab and a contextual tab. A contextual tab is recognized by it's special color and contextual title. */
        /* A common example for a contextual tab is the tab that shows up in Office Applications when you're creating a table on the page. */
        /* When you need to implement any custom tabs, put them inside this section. */

        ul li.tab-contextual {


          &.active { border-color: #d4d4d4 #d4d4d4 #fff; border-style: solid; border-width: 1px; background-color: #fff; color: #2b579a; }
        }

    }
  }
}