body,
html {
  height: 100%;
  width: 100%;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
#OfficeUI {
  color: #444;
  font-family: 'Segoe UI', serif;
  font-size: 0.75em;
  /* General elements. */
  /* Input elements. */
  /* Positional elements. */
  /* Floating elements. */
  /* Text positioning. */
  /* Displaying elements. */
  /* Container elements. */
  /* Defines the header. */
  /* Defines the application icons. */
}
#OfficeUI a {
  color: #444;
  cursor: default;
}
#OfficeUI p {
  padding: 5px 0;
  margin: 0;
  line-height: 15px;
}
#OfficeUI strong {
  color: #5d5d5d;
}
#OfficeUI input {
  border: 1px solid #ababab;
  font-family: 'Segoe UI', serif;
  color: black;
  font-size: 1em;
  padding-left: 3px;
  padding-right: 3px;
}
#OfficeUI input:hover,
#OfficeUI input:focus {
  outline: none;
  border: 1px solid #ffffff;
}
#OfficeUI input:-ms-input-placeholder {
  color: #6d6d6d;
}
#OfficeUI .absolute {
  position: absolute;
}
#OfficeUI .relative {
  position: relative;
}
#OfficeUI .fixed {
  position: fixed;
}
#OfficeUI .left {
  float: left;
}
#OfficeUI .right {
  float: right;
}
#OfficeUI .center {
  text-align: center;
}
#OfficeUI .hidden {
  display: none;
}
#OfficeUI .no-border {
  border: 1px solid transparent;
}
#OfficeUI .no-border-bottom {
  border-bottom: 1px solid transparent !important;
}
#OfficeUI .container {
  display: inline-block;
}
#OfficeUI .container-block {
  display: block;
}
#OfficeUI .container-full-width {
  width: 100%;
}
#OfficeUI .container-input {
  height: 24px;
}
#OfficeUI > .header {
  background: url('/OfficeUI.Beta/Resources/Images/Application/Backgrounds/Circuit.png') no-repeat scroll right top #ffffff;
  height: 52px;
  z-index: 2;
  width: 100%;
}
#OfficeUI > .header .title {
  margin-top: 6px;
  margin-left: -1px;
}
#OfficeUI .application-icons {
  margin: 3px 0 0 5px;
  /* Default image. */
  /* Small right margin on every image element, except the first. */
}
#OfficeUI .application-icons img {
  margin: 0 5px 0 2px;
}
#OfficeUI .application-icons img:not(:first-child) {
  margin-right: 6px;
}
/* Some queries to make the page adapt itself to various widths. */
@media screen and (max-width: 497px) {
  #OfficeUI > .header {
    background-image: none;
  }
}
