<style>
    .back-arrow { background-image: url('/OfficeUI.Beta/Resources/Images/Ribbon/ApplicationMenu/NavigationArrow.png'); height: 35px; width: 35px; background-repeat: no-repeat; margin-left: 23px; margin-top: 19px; }
    .back-arrow:hover { background-image: url('/OfficeUI.Beta/Resources/Images/Ribbon/ApplicationMenu/NavigationArrow_hover.png'); }
    ul { color: #fff; list-style: none; }
    ul li { vertical-align: middle; padding-left: 26px; padding-right: 10px; padding-top: 11px; padding-bottom: 11px; line-height: 16px; }
</style>
<div id="OfficeUI">
<div style="background-color: white; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 99999;">
    <div style="float: left; width: 135px; background-color: #0072c6; height: 100%;">
        <div class="back-arrow"></div>
        <ul class="no-padding no-margin" style="margin-top: 15px;">
            <li style="background-color: #2a8dd4;">Info</li>
            <li>Open & Export</li>
            <li>Save As</li>
            <li>Save as Adobe PDF</li>
            <li>Save Attachments</li>
            <li>Print</li>
            <li></li>
            <li>Office Account</li>
            <li>Options</li>
            <li>Exit</li>
        </ul>
    </div>
    <div style="float: right; background-color: green;">

    </div>
</div>
</div>