<div class="container container-full-width">
    <ul class="no-margin no-padding" style="border-bottom: 1px solid #d4d4d4; height: 24px; margin-top: 5px;">
        <li class="container" style="width: 57px; text-align: center; background-color: #0072c6; color: #fff; height: 23px; line-height: 23px; border: 1px solid #0072c6; text-transform: uppercase;">File</li>
        <li class="container">Home</li>
        <li class="container">Send / Receive</li>
        <li class="container">Folder</li>
        <li class="container">View</li>
    </ul>
    <ul class="no-padding no-margin" style="height: 92px; border-bottom: 1px solid #d4d4d4 !important;">Dit is een demo.</ul>
</div>