<div ngc-ribbon="{tabSelector: 'ul[role=tabs], ul[role=tabContents]', contentSelector: 'ul[role=tabContents]'}" ngc-scroll class="ribbon container-full-width" ng-controller="OfficeUIRibbon as OfficeUIRibbon">
    <ul role="tabs" ng-class="{'officeui-borders-border-bottom-grey' : OfficeUIRibbon.state == 1 || OfficeUIRibbon.state == 3}" class="officeui-space-no-padding officeui-space-no-margin">
        <li id="{{tab.Id}}" role="tab" ng-class="{application:$first, 'active officeui-borders-border-top-grey officeui-borders-border-left-grey officeui-borders-border-right-grey': (OfficeUIRibbon.state == 1 ||  OfficeUIRibbon.state == 3) && OfficeUIRibbon.isActive(tab.Id)}" ng-repeat="tab in OfficeUIRibbon.Tabs" class="officeui-display-inline-block" ng-click="$first || OfficeUIRibbon.setTab(tab.Id)">
            <span class="label">{{tab.Label}}</span>
        </li>
    </ul>

    <!-- Defines the contents area of a tab element. -->
    <ul ng-style="{height: OfficeUIRibbon.height}" role="tabContents" ng-class="{'officeui-position-absolute': OfficeUIRibbon.state == 3, 'officeui-borders-border-bottom-grey': OfficeUIRibbon.state == 1 || OfficeUIRibbon.state == 3}" class="officeui-space-no-padding officeui-space-no-margin">
        <li class="officeui-position-relative" ng-class="{'officeui-display-hidden': !OfficeUIRibbon.isActive(tabContents.Id)}" ng-repeat="tabContents in OfficeUIRibbon.Tabs">
            <!-- Defines the group area. -->
            <div ng-repeat-start="group in tabContents.Groups" class="group officeui-display-inline-block officeui-position-relative">
                <!-- Defines the area. -->
                <div ng-repeat="area in group.Areas" class="area officeui-display-inline-block">
                    <!-- Defines the actions. -->
                    <div ng-repeat="action in area.Actions" ng-class="actionClass(action)" class="action">
                        <div ng-class="{'small-action-container': action.Type == 'sIcon', 'big-action-container': action.Type == 'bIcon'}" class="officeui-display-inline-block">
                            <div class="action-icon" ng-class="{'icon-big': action.Type == 'bIcon', 'officeui-display-inline-block icon-small': action.Type == 'sIcon'}">
                                <img ng-src="{{action.Resource}}" />
                            </div>
                            <div ng-bind-html="action |actionLegend" class="legend" ng-class="{'officeui-display-inline-block icon-small': action.Type == 'sIcon', 'officeui-align-center icon-big': action.Type == 'bIcon'}">
                            </div>
                        </div>
                    </div>
                    <!-- End: Actions definition. -->
                </div>
                <!-- End: Area definition. -->

                <!-- Defines the legend. -->
                <div class="legend officeui-align-center container-full-width officeui-position-absolute">
                    {{group.Legend}}
                </div>
                <!-- End: Definition of the group. -->
            </div>

            <!-- Defines the seperator. -->
            <div ng-repeat-end class="officeui-borders-border-right-grey" style="display: inline-block; margin-top: 4px; height: 84px; position: relative;"></div>
            <!-- End the definition of the seperator. -->
                
            <!-- Collapse area. -->
            <div id="collapseArea" ngc-collapse="{area: '#contents'}">
                <!-- Note: In this area, we're placing 2 single times the collapse area, since based on the state of the ribbon,
                           we need to show a different icon. -->
                <div ng-if="OfficeUIRibbon.state == 1" class="officeui-position-absolute collapse officeui-align-center">
                    <img src="/OfficeUI.Beta/Resources/Images/Ribbon/Built-In/Collapse.png"/>
                </div>
        
                <div ng-if="OfficeUIRibbon.state == 3" class="officeui-position-absolute collapse officeui-align-center">
                    <img src="/OfficeUI.Beta/Resources/Images/Ribbon/Built-In/Pin.png"/>
                </div>
            </div>
            <!-- End: Collapse area. -->
        </li>
    </ul>
    <!-- End: Define the contents area. -->
</div>
