/* Import statements. */
/* General styling for the OfficeUI application.
 * Remarks: All the elements which are being styled are wrapped inside an #OfficeUI key selector.
 * This is because we don't want to affect elements which are on the page, which aren't being placed in our #OfficeUI container.
 */
#OfficeUI .icon:active,
#OfficeUI .icon.active {
  background-color: #86bfa0 !important;
}
#OfficeUI .icon:not(.disabled):not(.no-hover):hover {
  background-color: #d3f0e0;
}
#OfficeUI input:not(.no-hover):hover,
#OfficeUI input:focus {
  border-color: #86bfa0;
}
