/* Import Statements. */
/* Import statements. */
/* General styling. */
#OfficeUI .application-icons.icon img:hover:not(.disabled):not(:first-child),
#OfficeUI .icon:not(.disabled):not(.active):hover {
  background-color: #d3f0e0;
}
#OfficeUI .icon:not(.disabled):active {
  background-color: #86bfa0;
}
#OfficeUI input:hover,
#OfficeUI input:focus {
  border-color: #86bfa0;
}
/* Import statements. */
/* Ribbon styling. */
.ribbon > ul li .tab.active {
  color: #217346;
}
.ribbon > ul li .tab.application {
  background-color: #217346;
}
.ribbon > ul li .tab.application {
  border-color: #217346;
}
#OfficeUI .icon.active {
  background-color: #86bfa0;
}
#OfficeUI ul[role="ribbonTabs"] li:not(.application):hover,
#OfficeUI ul[role="ribbonTabs"] li.active {
  color: #217346;
}
#OfficeUI ul[role="ribbonTabs"] li.application {
  background-color: #217346;
  border-color: #217346;
}
#OfficeUI ul[role="ribbonTabs"] li.application:hover {
  background-color: #439467;
  border-color: #439467;
}
/* Import statements. */
/* General styling. */
#OfficeUI .application-contents #navigation {
  background-color: #217346;
}
#OfficeUI .application-contents #navigation ul li:not(.seperator).active {
  background-color: #439467;
}
#OfficeUI .application-contents #navigation ul li:not(.seperator):hover {
  background-color: #0a6332;
}
#OfficeUI .application-contents #navigation ul li .seperator {
  border-color: #439467 !important;
}
#OfficeUI .application-contents #navigation .back-arrow {
  background-image: url('/Resources/Images/Ribbon/ApplicationMenu/NavigationArrow-Green.png');
}
#OfficeUI .application-contents #navigation .back-arrow:hover {
  background-image: url('/Resources/Images/Ribbon/ApplicationMenu/NavigationArrow-Green_hover.png');
}
/* Section: Variables. */
