/* OfficeUI Ribbon Styling version 1.0
   Kevin De Coninck

   Defines the version of the OfficeUI Ribbon styling.
   This section describes the various choices and descisions which are being made.

   As from then, everything related to the OfficeUI is wrapped inside a element with id 'OfficeUI'.
   This is done to have no conflicts with other css classes which are specified in any other components that you might use.

   This means that in the CSS file, you will always see the following for every element. #OfficeUI ...
*/

/* Tabs styling. */
#OfficeUI ul[role="ribbonTabs"] { border-bottom: 1px solid #d4d4d4; height: 24px; margin-top: 5px; }
#OfficeUI ul[role="ribbonTabs"].no-border { border-bottom: none; }
#OfficeUI ul[role="ribbonTabs"] li { text-transform: uppercase; text-align: center; line-height: 23px; padding: 0px 13px 0px 12px; border-top: 1px solid transparent; border-left: 1px solid transparent; border-right: 1px solid transparent; }

/* Tabs Styling - Conditional. */
#OfficeUI ul[role="ribbonTabs"] li.application { padding: 0px; background-color: #0072c6; color: #fff; border: 1px solid #0072c6; min-width: 57px; margin-right: 4px; }
#OfficeUI ul[role="ribbonTabs"] li.application:hover { background-color: #2a8ad4; border: 1px solid #2a8ad4; }
#OfficeUI ul[role="ribbonTabs"] li:not(.application):hover { color: #0072c6; }
#OfficeUI ul[role="ribbonTabs"] li:not(:first-child) { margin-right: 2px; }
#OfficeUI ul[role="ribbonTabs"] li.active { background-color: white; color: #0072c6; border-bottom: 1px solid #fff; border-right: 1px solid #d4d4d4; border-left: 1px solid #d4d4d4; border-top: 1px solid #d4d4d4; }
#OfficeUI ul[role="ribbonTabs"] li.active.no-border { border-right: 1px solid transparent; border-left: 1px solid transparent; border-top: 1px solid transparent; }

/* Tabs Contents Styling. */
#OfficeUI ul[role="ribbonContents"] { z-index: 999; border-bottom: 1px solid #d4d4d4; height: 92px; position: relative; background-color: white; width: 100%; } 
#OfficeUI ul[role="ribbonContents"].no-border { border-bottom: none; }
#OfficeUI ul[role="ribbonContents"] .collapse { bottom: 0px; right: 0px; width: 29px; height: 16px; text-align: center; }