/* General styling for the application menu. */
#OfficeUI .applicationMenuHolder .navigation .back-arrow { background-image: url('/OfficeUI.Beta/Resources/Images/Ribbon/ApplicationMenu/NavigationArrow.png'); height: 35px; width: 35px; background-repeat: no-repeat; margin-left: 23px; margin-top: 19px; }
#OfficeUI .applicationMenuHolder .navigation .back-arrow:hover { background-image: url('/OfficeUI.Beta/Resources/Images/Ribbon/ApplicationMenu/NavigationArrow_hover.png'); }
#OfficeUI .applicationMenuHolder { position: fixed; overflow: hidden; z-index: 9999; background: url("/OfficeUI.Beta/Resources/Images/Application/Backgrounds/Circuit.png") no-repeat scroll right top rgba(255, 255, 255, 1); height: 100%; top: 0px; bottom: 0px; left: 0px; right: 0px; font-size: 1em; }
#OfficeUI .applicationMenuHolder h1 { font-weight: 100; font-size: 3.2em; }
#OfficeUI .applicationMenuHolder .container-full-height { height: 100%; }
#OfficeUI .applicationMenuHolder .container .container-left { float: left; height: 100%; }
#OfficeUI .applicationMenuHolder .container .navigation { background-color: #0072c6; }
#OfficeUI .applicationMenuHolder .container .navigation ul { width: 100%; color: #fff; list-style: none; margin-top: 15px; }
#OfficeUI .applicationMenuHolder .container .navigation ul li { vertical-align: middle; padding-left: 26px; padding-right: 10px; padding-top: 11px; padding-bottom: 11px; line-height: 16px; }
#OfficeUI .applicationMenuHolder .container .navigation ul li:not(.seperator).active { background-color: #2a8dd4; }
#OfficeUI .applicationMenuHolder .container .navigation ul li:not(.seperator):hover { background-color: #0067B0; }
#OfficeUI .applicationMenuHolder .container .navigation ul li.seperator { margin-bottom: -1px; }
#OfficeUI .applicationMenuHolder .container .navigation ul li .seperator { border-bottom: 1px solid #2A8DD4; padding-right: 20px; margin-right: 16px; }
#OfficeUI .applicationMenuHolder .container .container-right { margin-left: 135px; }
#OfficeUI .applicationMenuHolder .container .container-right .title { text-align: center; padding: 0px 138px 0 0; }
#OfficeUI .applicationMenuHolder .container .container-right .application-contents { margin-top: 8px; margin-left: 40px; }

/* Area: Animations to show and hide elements. */
.animate-show.ng-hide-add.ng-hide-add-active {  transition: all linear 0.2s; } /* Defines the animation that should take place to hide an element. */
.animate-show.ng-hide-remove.ng-hide-remove-active { transition: all linear 0.2s; } /* Defines the animation that should take place to show an element. */

.animate-show { opacity: 1; position: absolute; } /* Default settings. */
.animate-show.ng-hide { opacity: 0; } /* The style to transition to when hiding the element. */

    /* Animations to show and hide the blue bar on the left. */
    .animate-hide-blue-area.ng-hide-add.ng-hide-add-active { transition: all linear 5.05s; display: block !important; }
    .animate-hide-blue-area.ng-hide-remove.ng-hide-remove-active { transition: all linear 5.05s; display: block !important; }

    .animate-hide-blue-area { width: 135px; display: block !important; }
    .animate-hide-blue-area.ng-hide { width: 0; overflow: hidden; }

/* End Of Area: Animations to show and hide elements. */