/* Styling for the tabs of the ribbon. */
#OfficeUI ul[role="tabs"] { height: 24px; }
    
    /* Styling for the tabs in general. */
    #OfficeUI li[role="tab"] { line-height: 23px; text-transform: uppercase; border: 1px solid transparent; border-bottom: none; }

    /* Styling for the application tab. */
    #OfficeUI li[role="tab"].application { margin-right: 4px; }

    /* Styling exlusively for non-application tabs. */
    #OfficeUI li[role="tab"]:not(.application) { padding: 0px 13px 0px 12px; margin-right: 2px; }
    #OfficeUI li[role="tab"]:not(.application).active { border-bottom: 1px solid #fff; background-color: #fff; }

/* Styling for the contents of the tabs. */
#OfficeUI ul[role="tabContents"] { width: 100%; overflow: hidden; z-index: 999; background-color: #fff; cursor: default; }

    /* Styling for the collapse area of the ribbon. */
    #OfficeUI ul[role="tabContents"] .collapse { width: 29px; top: 76px; right: 0px; }
    #OfficeUI ul[role="tabContents"] .collapse img { padding-bottom: 1px; }

    /* Styling for the groups. */
    #OfficeUI ul[role="tabContents"] .group { vertical-align: top; }

    /* Styling for the legend of a group. */
    #OfficeUI ul[role="tabContents"] .group > .legend { padding: 0px 2px 0px 1px; color: #666; font-size: 0.9em; overflow: hidden; text-overflow: ellipsis; white-space: no-wrap;}
    
    /* Styling for the area. */
    #OfficeUI ul[role="tabContents"] .area { height: 73px; margin-right: 1px; padding: 3px 0px 0px 4px; vertical-align: top; }
    
     #OfficeUI ul[role="tabContents"] .big-action-container { height: 69px; }
    /* Styling for the actions. */
    #OfficeUI ul[role="tabContents"] .big-action-container { vertical-align: top; text-align: center; }
    #OfficeUI ul[role="tabContents"] .small-action-container { padding-right: 7px; }
    #OfficeUI ul[role="tabContents"] .action-icon.icon-big { height: 34px; padding: 3px 5px 0px 5px; }
    #OfficeUI ul[role="tabContents"] .action-icon.icon-small { padding: 3px 0px 0px 3px; }
    #OfficeUI ul[role="tabContents"] .icon-big.legend { line-height: 16px; }
    #OfficeUI ul[role="tabContents"] .icon-small.legend { vertical-align: top; padding-top: 3px; }

    #OfficeUI ul[role="tabContents"] .icon-big.legend { padding: 0px 2px 0px 2px; }

    /* Defines the styling for showing an arrow that indicates that a submenu is available. */
    #OfficeUI ul[role="tabContents"] .legend i { font-size: 9px; vertical-align: top; padding-top: 4px; padding-left: 0px; }
    
        
