/* OfficeUI Styling
 *
 * Version 1.0
 * Kevin De Coninck
 *
 * The purpose of this stylesheet is to provide a style theme for OfficeUI.
 */

/* Import Statements. */
@import 'OfficeUI.Core.Purple.less';
@import 'OfficeUI.Ribbon.Purple.less';
@import 'OfficeUI.Ribbon.ApplicationMenu.Purple.less';
@import 'OfficeUI.Ribbon.Menu.Purple.less';

/* Section: Variables. */
@iconHoverColor: #eadcf2; // The style for hovering on an icon.
@activeIconColor: #c3a9d4; // The style for an active icon, as well the style for the border around an input element.
@navigationDefaultColor: #6a3889; // The style for the navigation control.
@navigationActiveElement: #8653a5; // The style for an active element in the navigation control.
@navigationElementHoverColor: #582e73; // The style for an hover element in the navigation control.
@applicationMenuBackImage: '/Resources/Images/Ribbon/ApplicationMenu/NavigationArrow-Purple.png'; // The style for the image of the back arrow on the application menu.
@applicationMenuBackImageHover: '/Resources/Images/Ribbon/ApplicationMenu/NavigationArrow-Purple_Hover.png'; // The style for the image of the back arrow on the application menu on hover.