/* Import statements. */
/* Ribbon styling. */
.ribbon > ul li .tab.active {
  color: #6a3889;
}
.ribbon > ul li .tab.application {
  background-color: #6a3889;
}
.ribbon > ul li .tab.application {
  border-color: #6a3889;
}
#OfficeUI .icon.active {
  background-color: #c3a9d4;
}
#OfficeUI ul[role="ribbonTabs"] li:not(.application):hover,
#OfficeUI ul[role="ribbonTabs"] li.active {
  color: #6a3889;
}
#OfficeUI ul[role="ribbonTabs"] li.application {
  background-color: #6a3889;
  border-color: #6a3889;
}
#OfficeUI ul[role="ribbonTabs"] li.application:hover {
  background-color: #8653a5;
  border-color: #8653a5;
}
