#OfficeUI ul[role="ribbonTabs"] li:not(.application):hover,
#OfficeUI ul[role="ribbonTabs"] li.active { color: #6A3889; }
#OfficeUI ul[role="ribbonTabs"] li.application { background-color: #6A3889; border-color: #6A3889; }
#OfficeUI ul[role="ribbonTabs"] li.application:hover { background-color: #8653A5; border-color: #8653A5; }
