/* Import statements. */
/* General styling. */
#OfficeUI .application-icons.icon img:hover:not(:first-child),
#OfficeUI .icon:hover {
  background-color: #eadcf2;
}
#OfficeUI .icon:active {
  background-color: #c3a9d4;
}
#OfficeUI input:hover,
#OfficeUI input:focus {
  border-color: #c3a9d4;
}
