#OfficeUI .applicationMenuHolder .container .navigation {
  background-color: #A4373A;
}
#OfficeUI .applicationMenuHolder .container .navigation ul li:not(.seperator).active {
  background-color: #C75659;
}
#OfficeUI .applicationMenuHolder .container .navigation ul li:not(.seperator):hover {
  background-color: #912C2F;
}
#OfficeUI .applicationMenuHolder .container .navigation ul li .seperator {
  border-color: #C75659;
}
#OfficeUI .applicationMenuHolder .navigation .back-arrow {
  background-image: url('/OfficeUI.Beta/Resources/Images/Ribbon/ApplicationMenu/NavigationArrow-Red.png');
}
#OfficeUI .applicationMenuHolder .navigation .back-arrow:hover {
  background-image: url('/OfficeUI.Beta/Resources/Images/Ribbon/ApplicationMenu/NavigationArrow-Red_hover.png');
}
