/* Import statements. */
/* General styling. */
#OfficeUI .applicationMenuHolder .container .navigation {
  background-color: #a4373a;
}
#OfficeUI .applicationMenuHolder .container .navigation ul li:not(.seperator).active {
  background-color: #c75659;
}
#OfficeUI .applicationMenuHolder .container .navigation ul li:not(.seperator):hover {
  background-color: #912c2f;
}
#OfficeUI .applicationMenuHolder .container .navigation ul li .seperator {
  border-color: #c75659;
}
#OfficeUI .applicationMenuHolder .navigation .back-arrow {
  background-image: url('/OfficeUI.Beta/Resources/Images/Ribbon/ApplicationMenu/NavigationArrow-Red.png');
}
#OfficeUI .applicationMenuHolder .navigation .back-arrow:hover {
  background-image: url('/OfficeUI.Beta/Resources/Images/Ribbon/ApplicationMenu/NavigationArrow-Red_hover.png');
}
