#OfficeUI .application-icons.icon img:hover:not(:first-child),
#OfficeUI .icon:hover { background-color: #FADCDD; }
#OfficeUI .icon:active { background-color: #F7A8AB; }
#OfficeUI input:hover, #OfficeUI input:focus { border-color: #F7A8AB; }