/* Import statements. */
/* Ribbon styling. */
.ribbon > ul li .tab.active {
  color: #a4373a;
}
.ribbon > ul li .tab.application {
  background-color: #a4373a;
}
.ribbon > ul li .tab.application {
  border-color: #a4373a;
}
#OfficeUI .icon.active {
  background-color: #f7a8ab;
}
#OfficeUI ul[role="ribbonTabs"] li:not(.application):hover,
#OfficeUI ul[role="ribbonTabs"] li.active {
  color: #a4373a;
}
#OfficeUI ul[role="ribbonTabs"] li.application {
  background-color: #a4373a;
  border-color: #a4373a;
}
#OfficeUI ul[role="ribbonTabs"] li.application:hover {
  background-color: #c75659;
  border-color: #c75659;
}
