/* Import statements. */
/* General styling. */
#OfficeUI ul[role="ribbonTabs"] li:not(.application):hover,
#OfficeUI ul[role="ribbonTabs"] li.active {
  color: #a4373a;
}
#OfficeUI ul[role="ribbonTabs"] li.application {
  background-color: #a4373a;
  border-color: #a4373a;
}
#OfficeUI ul[role="ribbonTabs"] li.application:hover {
  background-color: #c75659;
  border-color: #c75659;
}
